<%-include('header.ejs') %>
<!-- Middle: Textbox and Button -->
<div class="col-md-6">
  <h2><%=msg%></h2>
  <div class="mt-5">
    <form action="/tweetsubmit" method="post" enctype="multipart/form-data">
    <label for="exampleTextarea">Your Message:</label>
    <textarea class="form-control" id="exampleTextarea" name="post" rows="5" placeholder="Type your message here..."></textarea>
    <input type="file" name="tweet_img">
    
  </div>
  <div class="mt-3">
    <button class="btn btn-primary">Submit</button>
  </div>
</form>
  <!-- need to update -->
  <div class="col-md-12">
    <div class="mt-4">
      <p>Your tweets:</p>

      <div class="tweet" style="width: 100%; border: 1px solid black;">


        <% for( var i=0;i<result.length;i++)
        { %>
          
          <div class="card w-100">
            <div class="card-body">
              <!-- <div class="t_time"> <%= result[i].datetime %> </div> -->
              <h5 class="card-title"><%= result[i].username %></h5>
              <p class="card-text"><%= result[i].content %> </p>
              <img src="/uploads/<%= result[i].image_vdo_name %>" alt="" width="100%" height="400px">
              <h1>h</h1>
            </div>
          </div>
        <%}%>

    </div>
  </div>

  </div>
</div>



<!-- Right Side: Tags -->
<%-include('tranding.ejs') %>

